{extend name='public/_base'}

{block name='seo'}
<title>{$title|default='标题'}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content'}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="{:url('index/index')}">首页</a>
		<span class="c-gray en">&gt;</span>
		学生管理
		<span class="c-gray en">&gt;</span>
		学生列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l"> <a href="{:url('student/unDelete')}" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 恢复删除</a> <a href="{:url('student/studentAdd')}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加学生</a> </span>
				<span class="r">共有数据：<strong>{$count}</strong> 条</span>
			</div>
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="12">学生列表</th>
					</tr>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th width="40">ID</th>
						<th width="60">姓名</th>
						<th width="60">性别</th>
						<th width="50">年龄</th>
						<th width="130">手机号</th>
						<th width="130">邮箱</th>
						<th width="130">入学时间</th>
						<th width="130">班级</th>
						<th width="100">是否已启用</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name='studentList' id='vo'}
					<tr class="text-c">
						<td><input type="checkbox" value="1" name=""></td>
						<td>{$vo.id}</td>
						<td>{$vo.name}</td>
						<td>{$vo.sex}</td>
						<td>{$vo.age}</td>
						<td>{$vo.mobile}</td>
						<td>{$vo.email}</td>
						<td>{$vo.start_time}</td>
						<td>{$vo.grade}</td>
						<td class="td-status">
						{if condition="$vo.status eq 1"}
						<span class="label label-success radius">已启用</span>
						{else/}
						<span class="label radius">已禁用</span>
						{/if}
						</td>

						<td class="td-manage">
							{if condition="$vo.status eq 1"}
							<a style="text-decoration:none" onClick="" href="{:url('student/setStatus', ['id'=>$vo.id])}" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> 
							{else/}
							<a style="text-decoration:none" onClick="" href="{:url('student/setStatus', ['id'=>$vo.id])}" title="启用"><i class="Hui-iconfont">&#xe615;</i></a> 
							{/if}
							<a title="删除" href="{:url('student/delStudent', ['id'=>$vo.id])}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>

							<a title="编辑" href="{:url('index/student/studentEdit', ['id'=>$vo.id])}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
			{$page}
		</article>
	</div>
</section>
{/block}
{block name='js'}
<script type="text/javascript">
function del()
</script>
{/block}
